<% include layout/head %>   
	<body>
		<div id="wrap">
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">404 Error</h1>
		            <ul class="pull-right breadcrumb">
		                <li></li>
		            </ul>
		        </div>
		    </div>
			<div class="container" style="text-align: center; display: block; margin-bottom: 105px;">
				<img id="logo-header" alt="Logo" src="/images/design/logo.png">
			    <div class="hero-unit center">				
					<h1>Page Not Found</h1>
					<p>	The page your requested could not be found, either contact your webmaster or try again.
					Use your browsers Back button to navigate to the page you have previously come from 
					Or you could just press this button below:
					<a href="/" class="btn btn-large btn-info" style="position:relative;clear:both;display:block;width:150px;margin:20px auto 0;"><i class="icon-home icon-white"></i> Take Me Home</a>
					</p>
				</div>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>