<% include layout/head %>   
	<body>
		<div id="wrap">
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">Internal Server Error (Generic 500 Error)</h1>
		            <ul class="pull-right breadcrumb">
		                <li></li>
		            </ul>
		        </div>
		    </div>
			<div class="container" style="text-align: center; display: block; margin-bottom: 105px;">
				<img id="logo-header" alt="Logo" src="/images/design/logo.png">
			    <div class="hero-unit center">				
					<h1>Page Not Found</h1>
					<p>	To see more detail on the error do the following: In Internet Explorer, click on Tools/Internet Options/Advanced. Under "Browsing", Uncheck the box "Show friendly HTTP error messages". <br/>
					**The most common error message is related to file permission. By default, many of your directories are read only. So in many cases you'll need to adjust the file permissions to correct this.
					<a href="/" class="btn btn-large btn-info" style="position:relative;clear:both;display:block;width:150px;margin:20px auto 0;"><i class="icon-home icon-white"></i> Take Me Home</a>
					</p>
				</div>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>