<% include layout/head %>   
<% include layout/header %>
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">Add Inventory</h1>
		            <ul class="pull-right breadcrumb">
		                <li><a href="/">Transaction</a> <span class="divider">/</span></li>
		                <li class="active">Medicine | Equipment </li>
		            </ul>
		        </div>
		    </div>   
			<div class="container" style="display: block; margin: 0px auto 105px;">
				<form class="well span11" method="post">
					<div class="row">
						<div class="span3">
							<label>Item Name</label>
							<select id="itemName" name="itemName" class="span3">
								<option value="na" selected>Choose One:</option>
								<% for(var i=0; i<medicine.length; i++) {%>
									<option value="<%=medicine[i]._id%>"><%=medicine[i].itemName%></option>
								<% } %>								
							</select>
							<label>Quantity</label>
							<input class="span3" name="qty" id="appendedInput3" size="16" type="text">
							<label>Comment</label>
							<textarea name="comment" id="comment" class="input-small span3" rows="4"></textarea>
							<button type="submit" class="btn btn-success pull-right">Save</button>
						</div>
						<div class="span7 pull-right" style="border-left:1px solid #EBEBEB;width:750px;padding-left:24px;margin-left:0;">
							<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="medInventory">
							<thead>
								<tr>
									<th width="50%" style="text-align:center">Item Name</th>							
									<th width="10%" style="text-align:center">Stock Received</th>
									<th width="10%" style="text-align:center">Stock Used</th>
									<th width="10%" style="text-align:center">Stock on Hand</th>
									<th width="20%" style="text-align:center">Units</th>						
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<inventory.length; i++) {%>
									<tr class="odd gradeX">
										<td><%=inventory[i]._id%></td>
										<td><%=inventory[i].stockReceived%></td>
										<td></td>
										<td></td>										
										<td></td>
									</tr>
								<% } %>
							</tbody>
						</table>
						</div>											
					</div>
				</form>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>