<% include layout/head %>   
<% include layout/header %>  
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">List of Users</h1>
		            <ul class="pull-right breadcrumb">
		                <li><a href="/">Home</a> <span class="divider">/</span></li>
		                <li class="active">List of Users</li>
		            </ul>
		        </div>
		    </div>   
			<div class="container" style="display: block; margin: 0px auto 105px;">
				<ul class="thumbnails">
					<li class="span12 clearfix">
						<form method="post" accept-charset="utf-8">	
							<div class="thumbnail clearfix">
								<img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
								<div class="caption" class="pull-left">
								  <button type="submit" class="btn btn-success pull-right">Approved</button>
								  <h4>      
								  <a href="#" >Alexjander Bacalso</a>
								  </h4>
								  <small><b>Employee ID: </b>99384877</small><br/>
								  <small><b>Position: </b>Software Developer</small>
								</div>
							</div>
						</form>
					</li>
				</ul>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>