<% include layout/head %>   
<% include layout/header %> 
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">Home</h1>
		        </div>
		    </div>   
			<div class="container" style="display: block; margin: 0px auto 105px;">			    
				<% if (user && user.rights === 'Admin') { %>					
					<div class="menu">
						<div class="accordion">
							<div class="accordion-group">
								<div class="accordion-heading country">
									<img src="http://placehold.it/100x30" alt="country flag" style="float:left; margin: 3px 10px 0 3px; text-align:center;"/>
									<a class="accordion-toggle" data-toggle="collapse" href="#country1">Edit Announcement</a>
								</div>
								<div id="country1" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="hero-unit">
											<p>	The page your requested could not be found, either contact your webmaster or try again.
											Use your browsers Back button to navigate to the page you have previously come from 
											Or you could just press this button below:
											<a href="/" class="btn btn-large btn-info" style="position:relative;clear:both;display:block;width:150px;margin:20px auto 0;"><i class="icon-home icon-white"></i> Take Me Home</a>
											</p>
										</div>
									</div>
								</div>						
								<div class="accordion-heading country">
									<img src="http://placehold.it/100x30" alt="country flag" style="float:left; margin: 3px 10px 0 3px; text-align:center;"/>
									<a class="accordion-toggle" data-toggle="collapse" href="#country3">Medicine Inventory</a>
								</div>
								<div id="country3" class="accordion-body collapse">
									<div class="accordion-inner">
										<strong>Windows PC</strong><span class="pull-right">70%</span>
										<div class="progress progress-danger active">
										<div class="bar" style="width: 70%;"></div>
										</div>
										<strong>Mac</strong><span class="pull-right">40%</span>
										<div class="progress progress-info active">
										<div class="bar" style="width: 40%;"></div>
										</div>
									</div>
								</div>
								<div class="accordion-heading country">
									<img src="http://placehold.it/100x30" alt="country flag" style="float:left; margin: 3px 10px 0 3px; text-align:center;"/>
									<a class="accordion-toggle" data-toggle="collapse" href="#country2">Equipment Inventory</a>
								</div>
								<div id="country2" class="accordion-body collapse">
									<div class="accordion-inner">
										<strong>Windows PC</strong><span class="pull-right">30%</span>
										<div class="progress progress-danger active">
										<div class="bar" style="width: 30%;"></div>
										</div>
										<strong>Mac</strong><span class="pull-right">40%</span>
										<div class="progress progress-info active">
										<div class="bar" style="width: 40%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% } else {%>
					<div class="hero-unit">
						<!--<p>	The page your requested could not be found, either contact your webmaster or try again.
						Use your browsers Back button to navigate to the page you have previously come from 
						Or you could just press this button below:
						<a href="/" class="btn btn-large btn-info" style="position:relative;clear:both;display:block;width:150px;margin:20px auto 0;"><i class="icon-home icon-white"></i> Take Me Home</a>
						</p>-->
					</div>
				<% } %>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>