<% include layout/head %>   
<% include layout/header %> 
			<div class="breadcrumbs margin-bottom-40">
		    	<div class="container">
		            <h1 class="color-green pull-left">Home</h1>
		        </div>
		    </div>   
			<div class="container" style="display: block; margin: 0px auto 105px;">			    
				<% if (user && user.rights === 'Admin') { %>					
					
				<% } else {%>
					
				<% } %>
			</div>
			<div class="push"></div>
	    </div>
	<% include layout/footer %>