	<body>
		<div id="wrap">			   
			 <div class="header">               
			    <div class="container">
			        <div class="logo">                                             
			            <a href="/"><img id="logo-header" src="/images/design/logo2.png" alt="Logo"></a>
			        </div>      
			        <div class="navbar">                                
			            <div class="navbar-inner">                                  
			                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			                    <span class="icon-bar"></span>
			                    <span class="icon-bar"></span>
			                    <span class="icon-bar"></span>
			                </a>                                
			                <div class="nav-collapse collapse">                                     
			                    <ul class="nav top-2">
			                    	<li>
			                            <a href="/" class="dropdown-toggle">Home</a>
			                        </li>
			                   		<% if (user && user.rights === 'Admin') { %>                        
				                        <li>
				                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction
				                                <b class="caret"></b>                            
				                            </a>
				                            <ul class="dropdown-menu">				                               
				                                <li><a href="/add/inventory">Add Medicine Inventory</a></li>
				                                <li><a href="/requestAdmin">Request Medicine (admin)</a></li>
				                                <li class="nav-header">Release / Withdrawal</li>
				                                <li><a href="/confirm/request">Confirm Request</a></li>
					                            <li><a href="#">Withdraw Medicine</a></li>
				                            </ul>
				                            <b class="caret-out"></b>                        
				                        </li>
				                        <li>
				                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup
				                                <b class="caret"></b>                            
				                            </a>
				                            <ul class="dropdown-menu">
				                            	<li class="nav-header">Inventory Setup</li>
					                            <li><a href="/addItem">Medicine Info</a></li>
				                            </ul>
				                            <b class="caret-out"></b>                        
				                        </li>
				                        <li>
				                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<%=user.fullname%>
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
				                            	<li><a href="">Edit Profile</a></li>
				                                <li><a href="/logout">Log Out</a></li>
				                            </ul>
				                            <b class="caret-out"></b>   
										</li>										
				                    <% } else if (user && user.rights === 'user') { %>
				                    	<li>
				                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction
				                                <b class="caret"></b>                            
				                            </a>
				                            <ul class="dropdown-menu">
				                                <li><a href="/request">Request Medicine</a></li>
				                            </ul>
				                            <b class="caret-out"></b>                        
				                        </li>
				                    	<li>
				                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<%=user.fullname%>
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
				                            	<li><a href="">Edit Profile</a></li>
				                                <li><a href="/logout">Log Out</a></li>
				                            </ul>
				                            <b class="caret-out"></b>   
										</li>
				                    <% } else { %>
				                    	<li>
				                    		<a href="/login" class="dropdown-toggle">
											Log In
											</a>
										</li>
				                    <% } %>
			                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
			                    </ul>
			                    <div class="search-open">
			                        <div class="input-append">
			                            <form>
			                                <input type="text" class="span3" placeholder="Search" />
			                                <button type="submit" class="btn-u">Go</button>
			                            </form>
			                        </div>
			                    </div>
			                </div>                              
			            </div>
			        </div>                         
			    </div>             
			</div>

